<%= form_with(model: extension, local: true) do |form| %>
  <% if extension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extension.errors.count, "error") %> prohibited this extension from being saved:</h2>

      <ul>
      <% extension.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :context %>
    <%= form.text_field :context, id: :extension_context %>
  </div>

  <div class="field">
    <%= form.label :exten %>
    <%= form.text_field :exten, id: :extension_exten %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority, id: :extension_priority %>
  </div>

  <div class="field">
    <%= form.label :app %>
    <%= form.text_field :app, id: :extension_app %>
  </div>

  <div class="field">
    <%= form.label :appdata %>
    <%= form.text_field :appdata, id: :extension_appdata %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
