<p id="notice"><%= notice %></p>


<%= @test %>

<h1>Extensions</h1>


<table>
  <thead>
    <tr>
      <th>Context</th>
      <th>Exten</th>
      <th>Priority</th>
      <th>App</th>
      <th>Appdata</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extensions.each do |extension| %>
      <tr>
        <td><%= extension.context %></td>
        <td><%= extension.exten %></td>
        <td><%= extension.priority %></td>
        <td><%= extension.app %></td>
        <td><%= extension.appdata %></td>
        <td><%= link_to 'Show', extension %></td>
        <td><%= link_to 'Edit', edit_extension_path(extension) %></td>
        <td><%= link_to 'Destroy', extension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extension', new_extension_path %>
