<p id="notice"><%= notice %></p>

<p>
  <strong>Context:</strong>
  <%= @extension.context %>
</p>

<p>
  <strong>Exten:</strong>
  <%= @extension.exten %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @extension.priority %>
</p>

<p>
  <strong>App:</strong>
  <%= @extension.app %>
</p>

<p>
  <strong>Appdata:</strong>
  <%= @extension.appdata %>
</p>

<%= link_to 'Edit', edit_extension_path(@extension) %> |
<%= link_to 'Back', extensions_path %>
