<div class="col-xs-push-1 col-xs-10 intro">

  <%= form_tag("/sipusers", method: "post") do %>
    <div class="row">
      <div class="col-xs-push-4 col-xs-4">
        <div class="form-group row">
          <div class="col-xs-12 form-group">
            <%= label_tag(:id_extension, "Extensión:", class: 'control-label') %>
            <%= text_field_tag(:id_extension, '', name: 'sipusers[name]', class: 'form-control', required: true, placeholder: 'Nº extensión') %>
          </div>
          <div class="col-xs-12 form-group">
            <%= label_tag(:id_empleados, "Empleado:", class: 'control-label') %>
            <%= select_tag "sipusers[employee]", options_from_collection_for_select(@employees, "id", "name"), prompt: "Seleccione empleado" %>
          </div>
          <div class="col-xs-12 form-group">
            <%= label_tag(:id_extensiones, "Códecs:", class: 'control-label') %>
            <%= check_box_tag('sipusers[allow][]', 'alaw', true, {'id' => 'id_alaw'}) %>
            <%= label_tag(:alaw, "alaw") %>
            <%= check_box_tag('sipusers[allow][]', 'ulaw', true, {'id' => 'id_ulaw'}) %>
            <%= label_tag(:ulaw, "ulaw") %>
            <%= check_box_tag('sipusers[allow][]', 'g729', false, {'id' => 'id_g729'}) %>
            <%= label_tag(:g729, "g729") %>
            <%= check_box_tag('sipusers[allow][]', 'gsm', true, {'id' => 'id_gsm'}) %>
            <%= label_tag(:gsm, "gsm") %>
            <%= check_box_tag('sipusers[allow][]', 'ilbc', true, {'id' => 'id_ilbc'}) %>
            <%= label_tag(:ilbc, "ilbc") %>
          </div>
          <div class="col-xs-12 form-group">
            <%= submit_tag("Enviar", class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-xs-push-1 col-xs-10 intro">
    <div id="row error_explanation">
      <ul>
        <p id="notice"><%= notice %></p>
      </ul>
    </div>
    <h1 class="">Extensiones telefónicas</h1>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Empleado</th>
        <th>Extensión</th>
        <th>Contraseña</th>
        <th>Códecs</th>
        <th>Activada</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @sipusers.each do |sipuser| %>
        <tr>
          <td>
            <% @employees.each do |employee| %>
              <% if sipuser.employee_id == employee.id %>
                <%= employee.name %>
              <% end %>
            <% end %>
          </td>
          <td><%= sipuser.name %></td>
          <td><%= sipuser.secret %></td>
          <td><%= sipuser.allow %></td>
          <td>
          <% if sipuser.activa then %>
            Si
          <% else %>
            No
          <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>


