<div class="col-xs-push-1 col-xs-10 intro">
  <%= form_tag("/departamentos", method: "post") do %>
    <div class="row">
      <div class="col-xs-push-4 col-xs-4">
        <div class="form-group row">
          <div class="col-xs-12 form-group">
            <%= label_tag(:id_departamento, "Departamento:", class: 'control-label') %>
            <%= text_field_tag(:id_departamento, '', name: 'dptoname', class: 'form-control', required: true, placeholder: 'Nombre') %>
          </div>
          <div class="col-xs-12 form-group">
            <%= submit_tag("Enviar", class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-xs-push-1 col-xs-10 intro">
  <div id="row error_explanation">
    <ul>
      <p id="notice"><%= notice %></p>
    </ul>
  </div>
  <h1 class="">Departamentos</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Modo de timbrado</th>
      <th>Tiempo de timbrado</th>
      <th>Locución</th>
      <th>Extensiones</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <% @Departamentos.each do |d| %>
      <tr>
        <td><%= d.nombre %></td>
        <td>
          <%= form_tag("/departamentosMode", method: "put") do %>
            <label>Consecutivo</label>
            <input class="btnEditModeDpto" type="radio" value="c" name="dialplan[<%=d.id%>]" id="dialplan_<%=d.id%>_c"
              <% if d.modo_timbrado == 'c' %>
                checked
              <% end %>>
            <br />
            <label>Simultáneo</label>
            <input class="btnEditModeDpto" type="radio" value="s" name="dialplan[<%=d.id%>]" id="dialplan_<%=d.id%>_c"
            <% if d.modo_timbrado == 's' %>
              checked
            <% end %>>
          <% end %>
        </td>
        <td>
          <%= form_tag("/departamentosTime", method: "put") do %>
            <label>30</label>
            <input class="btnEditTimeDpto" type="radio" value="30" name="dialplan[<%=d.id%>]"
                   <% if d.tiempo_timbrado == 30 %>
                   checked
                   <% end %>>
            &nbsp;
            <label>60</label>
            <input class="btnEditTimeDpto" type="radio" value="60" name="dialplan[<%=d.id%>]"
                   <% if d.tiempo_timbrado == 60 %>
                   checked
                   <% end %>>
            &nbsp;
            <label>90</label>
            <input class="btnEditTimeDpto" type="radio" value="90" name="dialplan[<%=d.id%>]"
                   <% if d.tiempo_timbrado == 90 %>
                   checked
                   <% end %>>
            &nbsp;
            <label>120</label>
            <input class="btnEditTimeDpto" type="radio" value="120" name="dialplan[<%=d.id%>]"
                   <% if d.tiempo_timbrado == 120 %>
                   checked
                   <% end %>>
          <% end %>
        </td>
        <!--<td>-->
          <!--<span id="timeDpto<%=d.id%>">-->
            <!--<%= d.tiempo_timbrado %>-->
          <!--</span>-->
          <!--<a href="javascript:;" data-id="<%=d.id%>" class="glyphicon glyphicon-pencil btnEditTimeDpto"></a>-->
          <!--<%= form_tag("/departamentos", method: "put", "class" => "") do %>-->
            <!--<input type="hidden" name="idDpto" value="<%=d.id%>">-->
            <!--<input type="text" class="inputEditTimeDpto<%=d.id%>" name="newTimeDpto" required="true" placeholder="Tiempo (seg.)" style="display: none">-->
            <!--<a href="javascript:;" class="inputEditTimeDpto<%=d.id%> glyphicon glyphicon-ok submitEditTimeDpto" style="display: none"></a>-->
          <!--<% end %>-->
        <!--</td>-->
        <td><%= d.locucion %></td>
        <td>
          <span id="extensionsDpto<%=d.id%>">
            <% @Extensiones.each do |e|
              if d.id == e[0] %>
                  <%= Telefono.find(e[1]).numero %>
               <% end
            end %>
          </span>
          <a href="javascript:;" data-id="<%=d.id%>" class="glyphicon glyphicon-pencil btnAddExtensions"></a>
          <%= form_tag("/departamentosExtensiones", method: "put", "class" => "") do %>
            <input type="hidden" name="idDpto" value="<%=d.id%>">
            <span class="containerSelect<%=d.id%>" style="display: none;">
              <%= select_tag "extensiones", options_from_collection_for_select(@Telefonos, "id", "numero"), {:class => 'form-control selectAddExtensions', :multiple => true} %>
            </span>
            <a href="javascript:;" class="glyphicon glyphicon-ok btnSubmitAddExten btnSubmitAddExtensionDpto<%=d.id%>" style="display: none"></a>
          <% end %>
        </td>
        <td>
          <% if d.nombre != Departamento::DEPARTAMENTO %>
            <%= form_tag("/departamentos", method: "delete", "class" => "delete-departamento") do %>
              <%= hidden_field_tag 'idDpto', d.id %>
              <a href="javascript:;" class="glyphicon glyphicon-remove deleteDepartamento"></a>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
