<div class="col-xs-push-1 col-xs-10 intro">

<a href="/test" class="btn btn-primary">TEST</a>

  <%= form_tag("/extensiones", method: "post") do %>
    <div class="row">
      <div class="col-xs-push-4 col-xs-4">
        <div class="form-group row">
          <div class="col-xs-12 form-group">
            <%= label_tag(:id_extension, "Extensión:", class: 'control-label') %>
            <%= text_field_tag(:id_extension, '', name: 'numero', class: 'form-control', required: true, placeholder: 'Nº extensión') %>
            <!--<%= select_tag "empleado", options_from_collection_for_select(@Telefonos, "empleado", "empleado", "1") %>-->
            <!--<%= text_field_tag(:empleadoInput, '', name: 'empleadoInput', class: 'form-control', style: 'display: none', placeholder: 'Nuevo empleado') %>-->
            <!--<%= label_tag(:id_extension, "(+) Nuevo empleado", class: 'control-label new-employee') %>-->
          </div>
          <div class="col-xs-12 form-group">
            <%= submit_tag("Enviar", class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-xs-push-1 col-xs-10 intro">
  <div id="row error_explanation">
    <ul>
      <p id="notice"><%= notice %></p>
    </ul>
  </div>
  <h1 class="">Extensiones telefónicas</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Extensión</th>
      <th>Contraseña</th>
      <th>Empleado</th>
      <th>Departamento</th>
      <th>Activada</th>
      <th>Eliminar</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @Telefonos.each do |peer| %>
      <tr>
        <td><%= peer.numero %></td>
        <td><%= peer.password %></td>
        <td class="edit-employee<%=peer.id%>">
          <span id="nameEmployee<%=peer.id%>">
            <%= (peer.empleado == nil) ? '---' : peer.empleado %>
          </span>
          <a href="javascript:;" data-id="<%=peer.id%>" class="glyphicon glyphicon-pencil btnEditEmployee"></a>
          <%= form_tag("/empleados", method: "put", "class" => "") do %>
            <input type="hidden" name="idExtension" value="<%=peer.id%>">
            <input type="text" class="inputEditEmployee<%=peer.id%>" name="nuevoEmpleado" required="true" placeholder="Nombre" style="display: none">
            <a href="javascript:;" class="inputEditEmployee<%=peer.id%> glyphicon glyphicon-ok submitEditExtension" style="display: none"></a>
          <% end %>
        </td>
        <td>
        <% @Departamentos.each do |d|
            if peer.id == d[1] %>
          <%= Departamento.find(d[0]).nombre %>
        <%  end
           end %>
        </td>
        <td>
          <% if peer.activa then %>
            Si
          <% else %>
            No
          <% end %>
        </td>
        <td>
          <%= form_tag("/extensiones", method: "delete", "class" => "delete-extension") do %>
            <%= hidden_field_tag 'idExtension', peer.id %>
            <a href="javascript:;" class="glyphicon glyphicon-remove deleteExtension"></a>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


