<!DOCTYPE html>
<html>
  <head>
    <title>Centralita virtual</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Centralita Virtual</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="extensiones"><a href="/extensiones">Extensiones</a></li>
          <li class="departamentos"><a href="/departamentos">Departamentos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="perfil changePass contact dropdown">
            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Mi perfil
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="perfil"><a href="javascript:void(0)">Ver perfil</a></li>
              <li class="changePass"><a href="javascript:void(0)">Cambiar password</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Log out</a></li>
            </ul>
          </li>
          <li class="help"><a href="javascript:void(0)">Ayuda</a></li>
        </ul>
      </div>
    </div>
  </div>
    <%= yield %>
  <script>
      jQuery(function($) {
          $(document).ready(function() {
              if (location.pathname.substr(1) != '') {
                  $("."+location.pathname.substr(1)).addClass("active");
              } else {
                  $(".info").addClass("active");
              }
          });
      });
  </script>
  </body>
</html>
